# Ignorar configuración local de VS Code
.vscode/

## Ignorar todo en patrones
patrones/**/*
# Pero no los directorios (para que Git pueda ver dentro)
!patrones/**/
# Ni los archivos fuente, encabezados o docs
!patrones/**/*.cpp
!patrones/**/*.h
!patrones/**/*.hpp
!patrones/**/*.txt
!patrones/**/*.md
!patrones/**/*.jpg

